// Sherpa navbar
.navbar-sherpa .navbar-toggle {
  margin-right: 0;
}


.navbar-sherpa {
  background-color: $sherpa-navbar-default-bg;
  border-color: $sherpa-navbar-default-border;
  margin-bottom: 0;

  .navbar-brand {
    color: $sherpa-navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-brand-hover-color;
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $sherpa-navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $sherpa-navbar-default-link-color;

      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //         color: $sherpa-navbar-default-link-active-color;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
        background-color: transparent;
      }
    }
  }

  .navbar-toggle {
    border-color: $sherpa-navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $sherpa-navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: #fff;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: 0;
    border-color: $sherpa-navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown


    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $white;
          padding: 1em 0;
          
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $white;
            background-color: $sherpa-navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $sherpa-navbar-default-link-color;
    &:hover {
      color: $sherpa-navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $sherpa-navbar-default-link-color;
    &:hover,
    &:focus {
      color: $sherpa-navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $sherpa-navbar-default-link-disabled-color;
      }
    }
  }
}


.navbar-sherpa {
  .navbar-brand {
    padding: 0;
  }
}

.top-header {
  background: $sherpa-dark-color;
  display: flex;
  padding: 34px 0;
 
  a.arrow {
    margin-left: auto;
    display: block;
    color: $white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: flex;
    font-size: 21px;
    position: relative;
    padding-right: 30px;

    &::after {
      @include svg-arrow-2($white);
      width: 20px;
      height: 20px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      content: '';
      margin-left: 10px;
      position: absolute;
    } 
  }
}

@media screen and (max-width: $screen-sm-max) {

  .sub-header .navbar-brand {
    margin: 0;
    display: block;
  }

  .sub-header {
    background: none;
    text-align: center;
  }
}

.navbar-right {
 
  li.menu-item {
    line-height: 16px;
    &.directions,
    &.contact {
      display: inline-block;
      float: left;

      a {
        color: $white;

        &::before {
          margin-right: 10px;
        }

        margin: 0 20px; 
      }
    }

    &.contact {
      padding-left: 1.5em;
    }

    &.directions {

      a {
        display: inline-block;
      }
    }

    &.directions a,
    &.contact a {
      text-align: center;
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }

    &.directions a {
      background-size: contain;
      background-repeat: no-repeat;

    }

    &.contact a {
      background-repeat: no-repeat;
    }

    a::before {
      display: none;
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    position: absolute;
    right: 30px;
    top: -45px;
    transform: translateY(-50%);
    width: auto;
    z-index: 9999;
    left: auto;
  }
}



@media (max-width: $grid-float-breakpoint-max) {

  .navbar-nav {
    > li > a {
      color: $white !important;

      &::before {
        display: none;
      }
    }

    .dropdown-menu {
      text-align: center;
    }
  }


  .navbar-brand img {
    height: 136px;
  }

  .top-header {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;

    a.arrow {
      margin-left: 0;
      display: inline-block;
      font-size: 13px;
      margin-right: auto;
    }

    .container {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .row {
      width: 100%;
    }


    .navbar-right {
      margin: 0 0;
      padding: 0 0;
    }
  }

  .admin-bar {
    .top-header {
      top: 46px;
    }
  }

  .jumbotron .navbar-brand {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    z-index: 0;

    img {
      margin: 0 auto;
    }
  }

  .menu-primary-container {
    overflow: hidden;
  }

  .navbar-nav {
    margin: 3px 0;
  }

  .col-xs-12.navbar-button {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-sherpa {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .dropdown-menu {
      background: transparent;
      width: 100%;
      position: relative;
      padding-bottom: 20px;

    }

    .navbar-collapse.in,
    .navbar-collapse {
      padding: 0;
      overflow: hidden;
    }

    .navbar-brand {
      line-height: 1;

      img {
        height: 70px;
        margin-top: 0;
      }
    }

    .navbar-toggle {
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 10;
      border: 0;


      .icon-bar {
        height: 3px;
      }
    }
  }

  .navbar-sherpa {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 53px;
    position: absolute;
    width: 100%;

    .dropdown-menu {
      background: transparent;
      width: 100%;
      position: relative;
      padding-bottom: 20px;

      li a:hover,
      li a:focus {
        background: $sherpa-brand-primary;
        color: #fff;
      }
    }
    .navbar-collapse,
    .navbar-collapse.in {
      background: #000;
      border: 0;


      .navbar-nav > li > a {
        color: #fff;

        a::before {
          display: none;
          margin: 0 0;
        }
      }
    }

    .navbar-collapse.in,
    .navbar-collapse {
      padding: 0;
      overflow: hidden;
      position: absolute;
      top: 45px;
    }

    .navbar-toggle {
      position: absolute;
      left: 20px;
      z-index: 10;
      border: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;

      .icon-bar {
        height: 2px;
        width: 24px;
      }

      
    }
  }

  .navbar-right {
   

    li.menu-item {

      a {
        display: inline;
      }

      &.directions::after {
        color: $sherpa-brand-primary;
      }

      &.directions a {
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.directions {
        a {
          display: inline-block;
        }
      }

      &.contact a {
        background-repeat: no-repeat;
      }

      &.directions a, &.contact a {
        background-size: 12px auto !important;
        padding: 0;
      }
    }
  }

  .navbar-collapse {
    order: -1;
    width: 100%;
  }

  

}

@media (max-width: $grid-float-breakpoint-max) {
 

 
  .dropdown-menu {
    box-shadow: none;
    border: 0;

  }

  .navbar-sherpa {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    
    z-index: 9999;


    .navbar-button {
      left: 0;
    }

    .dropdown-menu {
      background: transparent;
      width: 100%;
      position: relative;
      padding-bottom: 20px;

      li a:hover,
      li a:focus {
        background: $sherpa-brand-primary;
        color: #fff;
      }
    }
  }

}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
 
  .logo-section {

    padding: 2em 0;

    .flex-col:first-child {
      flex: 1;
      align-items: flex-start;

      .navbar-brand {
        position: relative;
        top: 0;
      }

      img {
        height: 100px;
        width: auto;
        position: relative;
      }
    }

    .title {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: $sherpa-secondary-color;
      font-size: 18px;
      margin-bottom: .5em;
      display: block;
    }


    .border-left {
      margin-left: auto;
    }

    .flex-col {
      justify-content: center;
      align-items: center;
    }

    p {
      margin-bottom: 0;
    }
  }
 
}

@media screen and (min-width: $screen-md-min) {

  a.arrow {
    margin-left: auto;


  }
  
  .navbar-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
  }

  .navbar-brand {
    z-index: 99;
    left: 0;
    top: 0px;
    height: auto;
    position: absolute;
    left: 0;

    img {
      height: 245px;
      width: auto;
    }
  }

  .logo-section {
    .row {
      height: 209px;
      justify-content: space-between;
    }

    .title {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: $sherpa-secondary-color;
      font-size: 18px;
      margin-bottom: .5em;
      display: block;
    }

    p {
      font-size: 12px;
    }

    
  }
}

@media screen and (min-width: $screen-lg-min) {

  .logo-section {
    

    p {
      font-size: 20px;
    }

    
  }


  .border-left {
      margin-left: auto;

      &::before {
        content: '';
        border-left: 1px solid #F2F2F2;
        position: absolute;
        left: 2em;
        height: 50%;
      }
    }
}

@media screen and (min-width: $screen-sm-min) {
  .menu-primary-container {
    padding-left: 0 !important;
  }

  .navbar-sherpa .nav.navbar-right > li > a,
  .navbar-sherpa .nav.navbar-right > li > span {
    padding: 0 0 0 0;
  }

  .navbar-sherpa {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-top: auto;
    margin-left: auto;

    .navbar-collapse {
      align-items: center;
      justify-content: center;
      padding-right: 0;

      div {
        display: flex;
        justify-content: center;
      }
    }

    li.menu-item {
      font-weight: 500;
    }

    .nav > li > a {
      padding: 0 0;
      text-transform: uppercase;
    }


    li.dropdown:hover {
      .dropdown-menu {
        //display: block;

        a {
          &:hover,
          &:focus {
          }

          &:before {
            display: none;
          }
        }
      }
    }

    li.menu-item {
      a::before {
        content: " ";
        margin: 0 0;
      }

      &:first-child {
        a::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {

  .navbar-sherpa {
    margin: 0;

    .navbar-collapse {
      padding-left: 0;
    }
  }
  
    .sub-header .navbar-brand {
      img {
        height: 196px;
      }
    }

}

@media screen and (max-width: $screen-sm-max) {

  .navbar-sherpa .navbar-collapse {
    padding-left: 0;
  }

  .collapse.navbar-collapse
  {
    padding: 0 0;
  }

  .navbar-sherpa li.menu-item {

    a::before {
      content: " ";
      margin: 0 0.3em;
    }

    .dropdown-menu li.menu-item {
      a::before {
        margin: 0 0;
      }
    }
  }

  .logo-section.visible-xs {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 18px;


    .title {
      color: $sherpa-secondary-color;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      display: block;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: 1.5em;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-sherpa li.menu-item {
    a::before {
      content: " ";
      margin: 0 .5em;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-sherpa li.menu-item {


    .dropdown-menu {
      a::before {
        display: none;
      }
    }

    &:first-child {
      a::before {
        display: none;
      }
    }

    &.directions {
      a {
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-sherpa li.menu-item {

    a::before {
      content: " ";
      margin: 0 0;
    }

//     margin-left: 1em;



//     &:first-child {
//       margin-left: 0;
//     }

    &:first-child {
      a::before {
        display: none;
      }
    }

    &.directions {
      a {
        display: inline-block;
      }
      &::after {
        content: " ";
        display: inline-block;
        margin-left: 1em;
      }
    }
  }

  .navbar-sherpa .dropdown-menu li.menu-item {
    margin-left: 0;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-sherpa li.menu-item {
    margin-left: 20px;
  }

  .dropdown-menu {
    li.menu-item {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
   
   .navbar-nav {
     display: flex;
     flex-direction: row;
     align-items: flex-start;

     li.menu-item {
       margin-left: 0;
       margin-right: 35px;
     }

     li.menu-item.birthday-booking {
       margin-left: auto;
       margin-right: 0;
     }
   }

   

  .dropdown-menu {
    li.menu-item {
      margin-left: 0;
    }
  }

  .navbar-right {

    li.menu-item.directions {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $sherpa-brand-primary;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-sherpa li.menu-item {
    font-size: 9px;

    .dropdown-menu li.menu-item {
      font-size: 9px;
    }
  }
}

@media screen and (max-width: $screen-md-max) {
  &#menu-item-93 { 
    display: none;
  }
}

@media screen and (min-width: $screen-md-min) {
  .navbar-sherpa li.menu-item {
    letter-spacing: 1px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .navbar-sherpa li.menu-item {
    font-size: 11px;
    letter-spacing: 1px;

    &.logo-menu {
      text-indent: -9999px;
      content: '';
      width: 80px; 
      height: 10px; 
      position: relative;

      a, a:hover, a:focus, a:visited {
        position: absolute;
        background: url('../img/logo.png') 0 0;
        background-size: cover;
        width: 82px; 
        height: 134px;
        top: -110px;
      } 
    }
    

    .dropdown-menu li.menu-item {
      font-size: 11px;
    }
  }
}


.navbar-right {

  li.menu-item {

    a {
      float: left;
    }

    &.directions a {
      @include svg-map($sherpa-svg-color);

      &:hover {
        @include svg-map($sherpa-svg-color-hover);
      }
    }

    &.contact a {
      @include svg-contact($sherpa-svg-color);
      margin-right: 0;

      &:hover {
        @include svg-contact($sherpa-svg-color-hover);
      }
    }

    &.directions:after {
      color: #fff;
    }
  }
}

.page-template-default, .blog, .error404, .post-template-default, .page-template-page-landing {
  .navbar-right {

    li.menu-item {

      &.directions a {
        @include svg-map(_trim($sherpa-secondary-color));

        &:hover {
          @include svg-map(_trim($sherpa-brand-primary));
        }
      }

      &.contact a {
        @include svg-contact(_trim($sherpa-secondary-color));

        &:hover {
          @include svg-contact(_trim($sherpa-brand-primary));
        }
      }
    }
  }
}




.sub-header.top-header {


  .container {
    position: relative;

  }

  .navbar-sherpa {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  ul {
    margin-top: 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    background: $white;

    .navbar-sherpa {
      justify-content: flex-end;
    }


    ul {
      text-align: center;
      width: 100%;
    }
  }
}

.navbar-right li.menu-item.directions {

  &::after {
    content: '';
    background: $white;
    height: 15px;
    width: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
    &::after {
      background: $sherpa-secondary-color;
    }
    
  }
}

.navbar-right li.menu-item.contact {
  padding-left: 0;
}

@media screen and (min-width: $screen-sm-min) {
  .navbar-nav>.active>a:focus, .navbar-sherpa .navbar-nav>.active>a:hover, .navbar-sherpa .navbar-nav>li>a:focus, .navbar-sherpa .navbar-nav>li>a:hover {
    background: transparent;
  }

  .dropdown-menu>li>a {
    padding: 1em;
  }
}


@media screen and (min-width: $screen-sm-min) {
  .dropdown-menu>li>a {
    font-weight: 600;
  }

  .dropdown-menu {
    background: #474747;
    text-align: left;  
  } 
}


.dropdown-menu {
  border: 0;
}

//
//@media screen and (min-width: $screen-sm-min) {
//
//  .open > .dropdown-menu {
//    -webkit-transform: scale(1, 1);
//    transform: scale(1, 1);
//  }
//
//  .dropdown-menu {
//    -webkit-transform-origin: top;
//    transform-origin: top;
//    -webkit-animation-fill-mode: forwards;
//    animation-fill-mode: forwards;
//    -webkit-transform: scale(1, 0);
//    display: block;
//    transition: all 0.2s ease-in-out;
//    -webkit-transition: all 0.2s ease-in-out;
//  }
//  .dropup .dropdown-menu {
//    -webkit-transform-origin: bottom;
//    transform-origin: bottom;
//  }
//
//  .dropup > .dropdown-menu:after {
//    top: auto;
//    display: inline-block;
//    bottom: -6px;
//    content: '';
//    position: absolute;
//    left: 50%;
//  }
//
//  .dropdown-menu>li>a {
//    transition: all 0.2s ease-in-out;
//  }
//}



@media screen and (min-width: $screen-md-min) {
  .navbar-sherpa li.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
  }
}