

#footer {
  padding: 0 0 2em;
  text-align: center;
  background: $white;

  .top-footer {
    background: #000;
    position: relative;

     &::before {
      content: '';
      @include gradient-line();
      width: 100%;
      display: block;
      height: 4px;
    }
  }

  p {
    margin-bottom: 0;
  }

  .flex-row {
    justify-content: space-between;
  }

  .navbar-brand img {
    height: 231px;
  }

  h2 {
    color: #003E7A;
    font-size: 22px;
    margin-top: 0;
  }

  .btn {
    letter-spacing: 1px;
    padding: 1.5em 2.5em;
    font-size: 11px; 
  } 


  a.arrow {
     font-weight: 500;

      &::after {
        display: block;
        clear: both;
        position: relative;
        padding: 0 0;
        background-size: 29px;
        width: 29px;
        height: 29px;
        margin: 20px auto 0;
        content: '';
      }

      &:hover {
        text-decoration: none;
      }

     @media screen and (min-width: $screen-sm-min) {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        

        .button-footer {
          padding: 0 15px;
        }

        &::after {
          display: block;
          clear: both;
          position: absolute;
          right: -4.5em;
          top: -14px;
          padding: 0 0;
          background-size: 34px;
          width: 34px;
          height: 34px;
          margin: 20px auto 0;
          content: '';
        }
     }
  }

  .logo-footer {
    background: #000;
    color: $white;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 1em 0;
    padding-left: 270px;

    p {
      margin-bottom: 0;
    }
 

    &::before {
      content: '';
      display: block;
      width: 100vw;
      left: -50vw;
      top: 0;
      z-index: -1;
      position: absolute;
      background: #000;
    }

    p {
      color: $white;
      font-size: 28px;

    }
  }

//   @media screen and (min-width: $screen-lg-min) {
//     .logo-footer {
//       margin-right: auto;
//     }

//     .hours-footer {
//       margin-right: auto;
//     }
    
//     .logo-footer {
//       margin-right: auto;
//     }

//   }

  @media screen and (min-width: $screen-md-min) {

   .footer-blocks {
       padding-top: 3em;
       flex: 1;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       align-items: flex-start;
   }


   .flex-col {
      flex-direction: row;
      justify-content: space-between;
    }

    .contact-footer, .hours-footer {
      display: flex;
      justify-content: center;
      margin: 0 auto 0 0;
      
      > div {
        
        font-weight: 300;
        display: flex;
        flex-direction: column;
      }
    }

    .button-footer {
       position: relative;
    }

    .border-left {
      margin-left: auto;

      span.title {
        text-align: center;
      }
      
      p {
        font-size: 12px;
        text-align: center;
      }

      &::before {
        content: '';
        border-left: 1px solid #F2F2F2;
        position: absolute;
        left: -2em;
        height: 100%;
      }
    }


    .contact-footer {

      .btn {
        margin-top: 2em;
      }
    }
  }

  @media screen and (max-width: $screen-sm-min) {
    text-align: left;
  }


  @media screen and (max-width: $screen-sm-max) {

    .top-footer {
      background: transparent;

      &::before {
        display: none;
      }
    }

    ul {
      margin: 20px auto;
      overflow: auto;
      width: auto;
      display: inline-block;
    }

    .logo-footer img {
      height: 100px;  
      margin: 0 auto;
    }

    .logo-footer {
      padding-left: 0;
      text-align: center;
    }

    .hours-footer, .contact-footer, .logo-footer, .button-footer {
      text-align: center;
      width: auto;
      margin: 0 auto;
      width: 100%;
    }

    a.arrow {
      margin-bottom: 2em;
    }

    .button-footer {
      .btn-border {
        font-size: 11px;
        padding: 24px 17px;
      }
    }
  }

  .menu-primary-container {
    margin: 0 auto;
  }

  p {
    font-size: 20px;
    line-height: 1.75;
    font-weight: 300;
    color: #29292C;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    padding-left: 0;
    margin-top: auto;
  }



  ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: #fff;
  }

  .contact-button {
    margin-top: 5px;
  }

  a.btn {
    &:hover {
      background: $sherpa-brand-primary;
      border-color: $sherpa-brand-primary;
    }
  }

  .full-height {
    margin-bottom: 4em;
  }

  .menu {
    padding-left: 0;
    list-style: none;

    > li a {
      color: #ffffff;
    }
  }

  .navbar-brand {
    text-align: center;
    position: absolute;
    display: block;
    height: auto;
    float: none;
    left: -30px;
    top: -160px;
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: #7D8082;
  }

  #menu-menu-footer {
    margin: 0 auto;
  }

  .menu-footer-container,
  .menu-menu-footer-container {
    text-align: center;
    display: flex;
    flex: 1;

    #menu-footer,
    #menu-footer-spanish {
      margin: 0 auto;
      display: inline-block;
      float: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    .row:first-child {
      flex: 1;
    }
  }

  span.title {
    margin: 1em;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: $sherpa-secondary-color;
    font-weight: 600; 
    text-transform: uppercase;
  }

  .social-media-button {
    color: #918F8D;

    &:hover {
      color: $sherpa-brand-primary;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    text-align: left;
    

    span.title {
      margin: 0 0 1em;
      display: block;
      font-size: 17px;
      letter-spacing: 1px;
    }

  }

  

  @media screen and (max-width: $screen-sm-max) {

    .button-footer {
      flex: 1;
      flex-direction: column;
      flex-wrap: wrap; 

      div {
        display: flex;
        justify-content: center;

        &.border-left {
          display: block;
    

          img {
            width: auto;
            height: auto;
            margin: 1em 0;
            height: 100px;
          }
        }

        a:first-child {
          margin-right: 10px;
        }
      }
    }

    .contact-footer, .hours-footer {
      margin-top: 2em;
    }

    .phone-footer {
      margin-top: 1.25em;
      margin-bottom: 2em;

      a {
        display: none;
      }
    }

    .hours-footer {
      margin-bottom: 1em;
    }

    span.title {
      font-size: 14px;
      margin-bottom: 0;
    }

    .social-container {
      text-align: center;
    }

    .bbb-footer {
      img {
        height: 83px;
        margin-bottom: 1em;
      }
    }

    .btn {
      margin-top: 2em;
    }

    p {
      font-size: 14px;
      line-height: 1.75;
      font-weight: 300;
      margin-bottom: 0em;

      br {
        display: none;
      }
    }
  }

  .footer-bottom {
    color: #fff;
    padding: 1.5em 0;
    margin-top: 4em;

    ul li {
      text-transform: uppercase;
    }

    .btn {
      padding: 1em 3.2em;
      font-size: 9px;
    }

    .separate {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar.navbar-sherpa {
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .flex-row {
      flex-direction: column;
    }

    .title {
      font-size: 16px;
    }

    p {
      font-size: 13px;
    }

    .btn {
      margin-top: 2em;
    }
  }
}


.footer-nav {

  background: transparent;

  @media screen and (min-width: $screen-md-min) {

     .navbar-nav {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: space-between;
     width: 100%;

     li.menu-item {
       margin-left: 0;
       margin-right: auto;
     }

     li.menu-item.birthday-booking {
       margin-left: auto;
       margin-right: 0;
       font-weight: 700;

       a {
         text-transform: uppercase;
         padding-right: 1.5em;

         &::after {
          @include svg-arrow-2($white);
          width: 20px;
          height: 20px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          content: '';
          margin-left: 10px;
          position: absolute;
        } 

       }
     }
   }


    li.menu-item:first-child {
      margin-left: 0 !important;
    }

    li.menu-item {
      margin-right: auto;
    }

    margin-top: 1em;
    margin-bottom: 1em;
    
    .navbar-sherpa {
      &::before {
        content: '';
        border-top: 1px solid #f2f2f2;
        display: block;
        position: absolute;
        top: -1em;
        width: 100%;
      }

      margin-bottom: 1em;
    }
  }

  .navbar-sherpa {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    margin-bottom: 0;
  }

  .menu-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .navbar-sherpa .navbar-nav > li > a {
    color: #606060;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    font-size: 17px;

    &:hover {
      color: $sherpa-secondary-color;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
  }
}

#sub-footer {
  padding: 32px 0;
  text-align: center;
  background: #1A1A1A;
  color: $white;
  font-size: 16px;
  color: #fff;

  .agi-logo {
    margin-left: 0.5em;
  }

  .flex-col {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  ul.social-media {
    margin: 0 0 0 0;
    a {
      color: $white;
      &:hover {
        color: $sherpa-brand-primary;
      }
    }
  }

   @media screen and (max-width: $screen-sm-max) {
      .flex-col {
        flex-direction: column;
      }

      background: #29292C;
      color: $white;
   }
}


@media screen and (max-width: $screen-sm-max) {

  #sub-footer {
    font-size: 10px;
    padding: 1em 0;
    text-align: center;

    img {
      width: 24px;
      height: 24px;
    }
  }

  

  #footer {
    padding: 2em 0;

    

    a {
      width: auto;
    }

    #map-section {
      max-height: 120px;
    }

    span.title {
      margin: 0 0 1em 0;
    }

    .navbar-brand {

      img {
        margin: 0 auto;
        height: 142px;
      }
    }

    padding-bottom: 0;

    span.title {
      margin: 0 0 .5em 0;
    }

    .navbar-brand {
      position: relative;
      transform: none;
      top: 0;
      left: auto;
      margin: 0 auto;

      img {
        width: auto;
        margin: 0 auto;
        width: auto;
      }
    }
  }
}


  

@media screen and (max-width: $screen-sm-max) {
  #footer {
    padding: 30px 20px 0;

    .logo-footer {
      background: transparent;

      &::before {
        display: none;
      }


      p {
        display: none;
      }
    }

    h2 {
      font-size: 19px;
      line-height: 1.5;
    }

    text-align: center;


    .btn {
      font-size: 9px;
      margin-bottom: 28px;
      @include nodropshadow();
      width: auto;
    }
    

    .social-media-button {
      color: #918F8D;

      &:hover {
        color: $sherpa-brand-primary !important;
      }
    }

    .sub-footer {
      .flex-col {
        flex-direction: column;
      }
    }
  }
}
 
