@mixin cardSmall() {
  margin: 2em auto;
  width: 100%;


    h2 {
      font-size: 19px;
    }

      .card-title {
        font-size: 16px;
        padding: .75em 0;
      }

      .card-img {
        height: 111px;
      }
     

      .btn {
        font-size: 9px;
        padding: 1.5em 2em;
        margin-top: 3em;
        margin-bottom: 2em;
      }

      .card-text { 
        padding: 0 20px;

        a {
          margin: 1em 0 2em;
          font-size: .75em;
          font-weight: 700;
          color: $white;

          &:after {
            width: 18px;
            height: 18px;
          }
        }

        .big {
          font-size: 3.35em;
          color: $white;
        }

        .small {
          font-size: 1.75em;
          letter-spacing: 4px;
          color: $white;
        }

        img {
          margin: 0.5em auto 0;
        }

        em {
          font-size: 16px;
        }


        h3 {
          margin-top: .5em;
          margin-bottom: 0;
        }

        p {
          margin-top: 2em;
          margin-bottom: 0;
          font-weight: 400;
          line-height: 1.75;
          font-size: 15px;
          padding: 0 0;

          &.author {
            font-size: 15px;
          }
        }
      }

      h3, em, .author {
        font-size: 16px;
      }

      img {
        width: auto;
        margin: 0 auto;
        display: block;
      }

      padding: 0 0px;
}

.card {
  text-align: center;
  padding: 0 0;
  height: 100%;
  display: flex; 
  flex-direction: column;
  width: 509px;
  margin-left: auto;


  &.floating {
    position: absolute;
  }

  .pager { 
    margin-top: 1em;
    font-size: 24px;
    line-height: 1;
    cursor: hand;

    color: #808C91;

    span {
      cursor: pointer;
    }

    .cycle-pager-active {
      color: $sherpa-brand-primary;
    }
  }

  .card-title {
    background: #0093B0;
    color: $white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 24px;
    font-size: 28px;
    margin: 0 0;
  } 

  .card-text {
    padding: 4em 2em 50px;
    background: #FF0000;
    color: $white;

    .big {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      display: block;
      text-transform: uppercase;
      font-size: 76px;
      line-height: 1;
      letter-spacing: -1px;
    }

    .small {
      font-size: 40px;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      display: block;
      line-height: 1;
      margin-top: 5px;
      letter-spacing: 7px;
    }

    a {
      font-size: 21px;
      color: $white;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;


      &::after {
        content: '';
        @include svg-arrow-3($white);
        width: 30px;
        height: 30px;
        display: block;
        margin-left: 10px;
      }
    }

   

    p.author {
      font-size: 21px;
      margin-top: 1em;
    }

    h2 {
      letter-spacing: -1px;
      color: #000;
    }

    img {
      display: block;
      margin: 0 auto 2.5em;
    }

    em {
      font-size: 19px;
      font-style: normal;
      @include raleway();
      margin-bottom: .75em;

      &::before {
        content: '// '
      }

      &::after {
        content: ' //'
      }
    }
  }

  .alignnone {
    margin: 0 auto;
  }


  h3 {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .card-img {
    height: 220px;
    background: url('../img/bg-sidebar-small.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
  }

  &.card-2 {
    .card-img {
      background-image: url('../img/services.jpg');
    }
  }

  .card-bottom {
    margin-top: auto;
    padding: 50px 122px;

    a {
      display: block;

      .btn {
        padding: 1.75em;
        width: 100%;
        letter-spacing: 1px;
        font-size: 14px;

        &.btn-default {
          color: $white;
          background : rgba(255, 255, 255, .25);

          &:hover {
            background: $sherpa-brand-primary;
          }
        }
      }
    }


    &.transparent {
      background : rgba(95, 106, 112, 0.49);
      display: flex;
      flex-direction: column;

      a {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }


  @media screen and (max-width: $screen-sm-max) {
    
    @include cardSmall();
  }
}


@media screen and (min-width: $screen-md-min) {
  .floating-sidebar {
    position: absolute;
  }
}