.home-module-6 {
  background: #1E242D;
  padding: 3.5em 0;
  @include dropshadow();

  h2 {
    color: $white;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    @include raleway();
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 3em 0;
    text-align: center;

    h2 {
      font-size: 21px;
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
}

.flex-order {
  @media screen and (max-width: $screen-sm-max) {
    display: flex;
    flex-direction: column-reverse;
  }
}