.home-module-2 {
  background: #F2F2F2;

  .navbar-sherpa, .navbar-nav {
    width: 100%;
  }

  &::after {
    content: '';
    @include gradient-line();
    width: 100%;
    display: block;
    height: 4px;
  }
}
