.home-module-3 {
  
  overflow: hidden;

  h4 {
    font-size: 26px;
    margin-bottom: 1em;
    @include raleway();
    color: #93753F;
    font-weight: 500;
    line-height: 1.5;
  }

  h5 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2em;
    font-size: 12px;

    .arrow {
      color: $sherpa-secondary-color;
      font-style: normal;
      font-weight: bold;
    }
  }

  p.blurb {
    font-size: 31px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #1A1A1A;
  }

  @media screen and (min-width: $screen-md-min) {
      
    .col-md-6 {
      padding-top: 10em;
      padding-bottom: 10em;
    }

    .bg-side {
      overflow: visible;
      

      
      &::after {
        background: url('../img/bg-side.jpg') right 0 no-repeat;
        background-size: cover;
        content: '';
        width: 50vw;
        height: 100%;
        display: block;
        top: 0;
        right: -25vw;
        position: absolute;
        z-index: -1;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 1.5em;
    text-align: center;
    padding-bottom: 0;

    h4 {
      font-size: 19px;
      line-height: 1.5;
      padding: 0 2em .5em;
    }

    p {
      font-size: 15px;
    }

    p.blurb {
      font-size: 21px;
      margin-bottom: 1em;
      line-height: 1.5;
    }

    .row {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}