.home-module-3 {


  h4 {
    font-size: 25px;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    color: #606060;
    font-weight: 300;
  }

  p.blurb {
    font-size: 31px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #1A1A1A;
  }

  @media screen and (min-width: $screen-md-min) {

    .col-md-6 {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .bg-side {
      overflow: visible;
     

      
      &::after {
        background: url('../img/bg-side.jpg') right 0 no-repeat;
        background-size: cover;
        content: '';
        width: 50vw;
        height: 100%;
        display: block;
        top: 0;
        right: -25vw;
        position: absolute;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;

    h4 {
      font-size: 18px;
      line-height: 1.5;
    }

    p {
      font-size: 14px;
    }

    p.blurb {
      font-size: 21px;
      margin-bottom: 1em;
      line-height: 1.5;
    }

    .row {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  
}