.home-module-7 {

  .banner {
    background: $sherpa-dark-color;
    text-align: center;

    .flex-col {
      justify-content: center;
      align-items: center;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0 0;
      
      li {
        float: left;

        img {
          width: 70px;
          height: 70px;
        }
      }
    }

    h2 {

      span {
        @include raleway();
      }
      color: $white;
      font-family: 'Montserrat', sans-serif;
    }

    .btn {
      margin: 0 auto;
    }
  }
}