@mixin sidebar-module() {
  .top {
    height: 364px;
    margin-top: 10px;

    img.play-bg {
      display: none;
    }
    background: url('../img/bg-banner-top-sm.jpg') 0 0 no-repeat;
    background-size: cover;
    text-align: center;

    .play-logo {
      position: relative;
      max-width: 100%;
      transform: none;
      left: auto;
      top: auto;
      height: 113px;
      margin: 0 auto;
      transition: none;
      transform: none;
    }
  }

  .bottom {
    height: auto;
    background: rgb(148,55,218);
    background: linear-gradient(90deg, rgba(148,55,218,1) 0%, rgba(36,13,128,1) 100%);
    display: block;

    &::after {
      content: '';
      @include gradient-line();
      width: 100%;
      display: block;
      height: 4px;
    }

    img {
      display: none;
    }

    h2 {
      position: relative;
      transform: none;
      top: auto;
      left: auto;
      font-size: 14px !important;
      line-height: 1.5;
      padding: 2em;
      color: $white;
      margin-bottom: 0;
    }

    .btn {
      margin-bottom: 2em;
      @include red-gradient();
      transition: none;

      &:hover {
        transition: none;
        transform: none;
      }
    }
  }

  ul.logos {
      li {
        padding: 1em .5em;
        margin-bottom: 0;

        img.usaa {
          max-height: 30px;
        }
      }
  }
}
.home-module-4 {
  @include dropshadow();
  background-size: cover;
  text-align: center;
  position: relative; 
  z-index: 2;


  ul.logos {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;

    li {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;


      img {
        max-height: 29px;

        &.usaa {
          max-height: 88px;
        }
      }
    }
  }

  .top {
    position: relative;
    img.play-bg {
      width: 100%;
      z-index: -1;
    }

    .play-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: auto;
      z-index: 99;
    }
//     background: url('../img/bg-banner-top.jpg') center 0 no-repeat;
//     background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    position: relative;

    img {
      width: 100%; 
    
    }

    h2 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
    }
  }
  
  h2 {
    color: $white;
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
  }

  @media screen and (max-width: $screen-sm-max) {
    @include sidebar-module();

    
  }
}

body #main .container article #sidebar{

    @include sidebar-module();
}