.home-module-1 {
  background: url('../img/bg-hero.jpg') 0 0 no-repeat;
  background-size: cover;
  text-align: center;

  .jumbotron {
    margin-bottom: 0;
  }

  .jumbo-content {
    color: $white;

    h1 {
      margin-top: 0;
      letter-spacing: -2px;
      line-height: 1.25;

      span.dash {
        text-indent: -9999px;
        display: inline-block;
        position: relative;
        width: 28px;

        &::before {
          content: '';
          width: 12px;
          height: 8px;
          background: $sherpa-brand-primary;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      } 
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    background: url('../img/bg-hero-mobile.jpg') 0 0 no-repeat;
    background-size: cover;

    .br-xs {
      display: block;
    }

    .jumbo-content {

      h1 {
        letter-spacing: -1px;

        span.dash {
          width: 10px;
          margin-left: 3px;

          &::before {
            width: 5px;
            height: 3px;
          }
        }
      }
    }
    
    &::after {
      content: '';
      @include gradient-line();
      width: 100%;
      display: block;
      height: 4px;
    }
   
    .container {
      height: 100%;


      .jumbotron {
        height: 100%;

        padding: 80px 15px 100px;
      }

      
    }
  }
}

