.home-module-1 {
  background: url('../img/bg-hero.jpg') 0 0 no-repeat;
  background-size: cover;
  text-align: center;

  .jumbo-content {
    color: $white;
  }

  @media screen and (max-width: $screen-sm-max) {
    background: url('../img/bg-hero-mobile.jpg') 0 0 no-repeat;
    background-size: cover;
    
    &::after {
      content: '';
      @include gradient-line();
      width: 100%;
      display: block;
      height: 4px;
    }
   
    .container {
      height: 100%;



      .jumbotron {
        height: 100%;

        padding: 90px 15px;
      }

      
    }
  }
}

