.home-module-9 {
  background: #F7F7F7;
  margin-top: 100px;
  padding: 100px 0 100px;
  position: relative;
  background-size: 100% auto;
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: url('../img/triangles-top.png') 0 bottom no-repeat;
    bottom: 0;
    background-size: 100% auto;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .full-size {
    width: 100%;
  }

  h2 {
    font-size: 34px;
    margin-bottom: 2.25em;
  }
 
  h3 {
    font-size: 31px;
    margin-bottom: 1em;
  }

  p {
    font-size: 21px;
    margin-bottom: 2em;
    padding-right: 1em;
  }

  .extra-padding {
    padding-left: 2em;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 0;
    margin: 1em 0;
    text-align: center;
    background: none;

    &::after {
      display: none;
    }

    h3 {
      font-size: 18px;
    }
  }
}