.home-module-9 {
  background: #F7F7F7;
  padding: 71px 0 71px;
  position: relative;
  background-size: 100% auto;
 

  .full-size {
    width: 100%;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 2.25em;
  }
 
  h3 {
    font-size: 23px;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
    padding-right: 1em;
  }

  .extra-padding {
    padding-left: 2em;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 0;
    margin: 1em 0;
    text-align: center;
    background: none;
    padding-bottom: 0;

    img {
      margin: 0 auto;
    }

    h2 {
      margin-bottom: 2em;
    }

    p {
      font-size: 14px;
    }

    &::after {
      display: none;
    }

    h3 {
      font-size: 18px;
    }
  }
}

img.visible-sm {
  margin: 0 auto;
}