.home-module-5 {
  background: url('../img/bg-banner-middle.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: 3em 0;
  @include raleway();

  p {
    color: $white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1em;
  }
}