@mixin banner-sm() {

  .col-xs-12 {
      padding: 0 0;
    }

    .flex-row {
      flex-direction: column;
    }

  
    .banner {
        

      .btn {
        padding: 2em 3em;
        margin-bottom: 2em;
      }

      h2 {
        line-height: 1.25;
        margin-bottom: 1em;
        color: $white;
      }

      .banner-middle {
        height: auto;
        min-height: auto;
        background: none;
        padding: 0 0;
      }

      .flex-col:last-child {
        width: auto !important;
        padding: 1em 0;
      }

      margin-top: 0;
      margin-bottom: 0;


      ul {
        margin-bottom: 0;
      }


      ul li {
        width: 25%;
        padding: 0 0 !important;

        img {
          height: 57px;
          width: 57px;
          margin: 0 .5em 1em;
        }
      }
    }

    .sidebar-content {
       ul li {
          padding: 0 0;
       }
    }
}

.home-module-7 {

  .banner {
    background: $sherpa-dark-color;
    text-align: center;
    margin: 54px 0;

    span, h2 {
        position: relative;
    }

    h2::after {
        content: '';
        @include svg-star();
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        right: -1em;
        top: 1em;
    }

    .flex-col {
      justify-content: center;
      align-items: center;
      background: $sherpa-dark-color;

      &:first-child, &:last-child {
        padding: .5em 2em;
      }

      &:first-child {
        flex: 1;
      }

      &:last-child {
        width: 276px;
      }
    }

    .banner-middle {
      background: url('../img/bg-banner-children.jpg') 0 0 no-repeat;
      background-size: cover;
      min-height: 188px;
      flex: 1;
    }

    .btn {
      padding: 1.5em;
      font-size: 10px;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0 0;
      
      li {
        width: 50%;
        margin-bottom: 12px;

        img {
          width: 70px;
          height: 70px;
        }
      }
    }

    h2 {
      @include raleway();
      margin-bottom: .5em;
      font-size: 22px;

      span {
        @include raleway();
      }
      color: $white;
    }

    .btn {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    @include banner-sm();
  }
}



#sidebar .home-module-7 {
  @include banner-sm();
}