.home-module-10 {
  color: $white;
  text-align: center;
  padding: 6em 0;
  background: #FF0008;
  border-bottom: 3px solid $sherpa-secondary-color;

  h2 {
    color: $white;
    margin-top: 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 2em 0 3em;

    h2 {
      font-size: 18px;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}