.home-module-2 {
  background: #F2F2F2;

  .navbar-sherpa, .navbar-nav {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    li.menu-item {
        a {
          font-size: 600 !important;
        }
        margin: 0 auto;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-left: auto;
          margin-right: 0;
        }
    }
  }

  .menu-secondary-menu-container {
    width: 100%;
  }

  &::after {
    content: '';
    @include gradient-line();
    width: 100%;
    display: block;
    height: 4px;
  }

//   .navbar-nav li.menu-item {
//     margin-right: 0;
//   }

  .navbar-sherpa .nav > li > a {
    color: #606060;
    padding-right: 30px;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 300ms ease-in-out;
    font-weight: 600;


    &:focus {
      color: $sherpa-secondary-color;
    }

    &:after {
      @include svg-arrow(fff);
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      right: 0; 
      top: 50%; 
      transform: translateY(-50%);
    }

    &:hover {
      color: $sherpa-secondary-color;
    }
  }

  @media screen and (max-width: $screen-sm-max) {

    margin-bottom: 1em;

    &::after {
      display: none;
    }

    .container {
      padding: 0 0;

      .navbar-sherpa .nav > li > a {
        color: #606060 !important;
        font-size: 12px;
        text-transform: uppercase;
        padding: 2em 3em;
        line-height: 1.5;
      }

      .col-xs-12, .navbar-sherpa {
        padding: 0 0;

        ul {
          padding: 0 0;
          display: flex;
          flex-wrap: wrap;
          color: #606060;
          font-weight: 500;
          margin: 0 0;

          li {
            width: 50%;
            text-align: center;
            margin: 0 0;


            &:nth-child(1), &:nth-child(2) {
              border-bottom: 1px solid #e0dfdf;
            }

            &:nth-child(1), &:nth-child(3) {
              border-right: 1px solid #e0dfdf;
            }

            a {
              color: #606060;
            }

            a::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
