.home-module-5 {
  padding: 71px 0;

  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    color: #1A1A1A;
    align-items: center;
    position: relative;
    margin-top: 2em;
    margin-bottom: 1em;

    &.no-margin {
      margin-top: 1em;
    }

    &::before {
      content: '';
      border-radius: 100%;
      @include gradient-btn(1);
      display: inline-block;
      float: left;
      overflow: hidden;
      margin-top: 8px;
      margin-bottom: 1em;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    &::after {
      border-radius: 100%;
      background: $white;
      width: 16px;
      height: 16px;
      content: '';
      position: absolute;
      left: 2px;
      top: 10px;
    }
  }

  ul {
    font-size: 21px;

    li {
      margin-bottom: 1em;
    }
  }

  .blox {
    background: #F2F2F2;
    padding: 2em;
    margin-bottom: 10px;

    h3 {
      margin-top: 0;


      &::after {
        background: #F2F2F2;
      }
    }
  }
}