.home-module-6 {
  background: #F7F7F7;
  padding: 106px 0;

  h2 {
    color: #1A1A1A;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }

  .blurb {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 21px;
    font-weight: 300;
  }
}