.home-module-8 {
  position: relative;
  background: url('../img/bg-party-triangle.png') right 0 no-repeat;
  background-size: 100% auto;
  padding: 4em 0;

  h2 {
    font-size: 34px;
    margin-bottom: 2.25em;
  }
 
  h3 {
    font-size: 31px;
    margin-bottom: 1em;
  }

  p {
    font-size: 21px;
    margin-bottom: 2em;
    padding-right: 1em;
  }

  img {
    margin-bottom: auto;
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
    background: none;
    padding-top: 1em;
    padding-bottom: 0;

    img {
      margin: 0 auto;
    }

    h2 {
      font-size: 21px;
      margin-bottom: 1em;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

}