@mixin icon-small() {
  width: 100%;
  

  .icon-row {
	  background: url('../img/bg-sidebar.jpg') 0 0 no-repeat;
	  background-size: cover;
  }

  .container {
    padding: 0 0;
  }

  .flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    border-top: 2px solid $white;


    &:after {
      display: none;
    }

    .flex-col {
      width: 33.33%; 
      margin-bottom: 0;
      padding: 0.5em;
      background: #1E242D;
      border-bottom: 2px solid $white;

      &:nth-child(2), &:nth-child(5) {
      	border-left: 2px solid $white;
      	border-right: 2px solid $white;
      }

      &:last-child {
      	a {
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
      	}
      }

      &:hover {
      	background: #000;
      }

      a {
        font-size: 9px; 
        padding: 24px 0 10px;
        color: $white;
        padding: 1.5em 1em;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2; 
        white-space: nowrap;
       

        .icon {
        	flex: 1;
        }

        .title {
          background: transparent;
        }

        svg {
          height: 21px;
          margin-bottom: 1em;
        }


        &:hover {
          color: $white !important;
          
          &::after {
          	display: none;
          }
        }

        &::before {
          display: none;
        }
      }

//       &:nth-child(4n+1), &:nth-child(4n) {
//         background: rgba(96, 96, 96, 0.53);

//         &:hover {
//         	background: #000;
//         }
//       }


      .title span {
        display: block;
      }

      &.line {
        display: none;
      }
    }
  }

  a {
    color: #606060;

    svg path {
      fill: $white;
    }

    &::before {
      border: 0;
    }
  }
}

@keyframes anim-1 {
	50% {
		transform: translate3d(-100%, 0, 0);
	}
	51% {
		transform: translate3d(-1em, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.icon-row {
  background: #1E242D;
  text-align: center;
  overflow: hidden;
  border-bottom: 3px solid $sherpa-brand-primary;

  .flex-row {
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    position: relative;
  }

  .flex-col {
    flex: auto;
    flex-direction: column;

    a {
    	padding-top: 2em;
		padding-bottom: 2em;
    }
    
  }


  .flex-col a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    flex-direction: column;
    flex: 1; 
    position: relative;
    overflow: hidden;
    transition: color 300ms ease-in-out;

    svg {
      height: 40px;
      margin-bottom: 2em;

      path {
        fill: #d1c086;
      }
    }

    &::after {
      width: 10px; 
	  height: 10px; 
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 7px solid #FF0008;
	  content: '';
	  bottom: 0;
	  opacity: 0;
	  transition: opacity 0.3s ease-in-out;
	  position: absolute;
    }

    &:hover {

      &:after {
      	opacity: 1;
      }
      text-decoration: none;


    }

    &:focus, &:active {
      text-decoration: none;
    }

    .title {
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      display: block;
      background: #959eac;
      color: $white;
    } 
  }

  .flex-col:first-child {
      a::before {
        display: none;
      }
    }

  @media screen and (max-width: $screen-sm-max) {
    @include icon-small();
    

    .flex-row {
      &::before {
        display: none;
      }

      .flex-col {
        border-left: 0;
      }
    }
  }

}


body #main .container article #sidebar {
  
  @include icon-small();


}

.page-template-page-home {
  .mid-row {
    @media screen and (max-width: $screen-sm-max) {

      &::before {
        display: none;
      }

      .flex-row {

          li.flex-col {

            .title {
              background: transparent;
            }
          }
        }
    }

   

    @media screen and (min-width: $screen-md-min) {

    .flex-row .flex-col {
       &:first-child {
        margin-left: -30px;
      }

      &:last-child {
        margin-right: -30px;
      }
    }
  }
  }
}

.mid-row {
  background: #212421;
  text-align: center;
  overflow: hidden;

  .flex-row {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: row;
  }

  .flex-col {
    flex: auto;
    flex-direction: column;

    a {
      padding-top: 2.25em;
      padding-bottom: 2.25em;
    }
  }


  .flex-col a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: color 300ms ease-in-out;

    &::before {
      border-left: 1px solid #918F8D;
      content: '';
      display: block;
      height: 50%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      left: 0;
    }

    svg {
      height: 40px;
      margin-bottom: 2em;

      path {
        fill: #fff;
      }
    }

    &::after {
      width: 10px;
      height: 10px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #FF0008;
      content: '';
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      position: absolute;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
      text-decoration: none;
    }

    &:focus, &:active {
      text-decoration: none;
    }

    .title {
      margin: 0 auto;
      padding: 12px 0;
      text-align: center;
      width: 100%;
      display: block;
      background: #959eac;
      color: $white;
    }
  }

  .flex-col:first-child {
    a::before {
      display: none;
    }
  }

  @media screen and (max-width: $screen-sm-max) {

    .flex-row {
      &::before {
        display: none;
      }

      .flex-col {
        border-left: 0;
        width: 33.333%;

        a { 
        font-size: 15px;

        	&::before {
			  height: 70%;
			}
        }
      }
    }
  }

}