.jumbotron {
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center; 

    h1 {
        font-size: 65px;
        font-family: 'Poppins', sans-serif;
        @include textshadow();
    }

    .brand {
    }

    h2 {
        font-size: 31px;
        color: $white;
        font-family: 'Poppins', sans-serif;
        @include textshadow();
    }

    @media screen and (max-width: $screen-sm-max) {
        height: 100%;

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 16px;
        }
    }
}