.jumbotron {
    height: 545px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0 0;

    h1 {
        font-size: 65px;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
    }

    h2 {
        font-size: 36px;
        letter-spacing: -1px;
        margin-top: 0;
        color: $white;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        color: $sherpa-secondary-color;
        font-weight: 600;
    }

    a {
        display: block;
        margin: 0 auto;
    }

    button {
        font-size: 12px;
        display: flex;
        padding: 2em 3em;
        margin: 0 auto;
    }

    @media screen and (max-width: $screen-sm-max) {
        height: 100%;

        h2 {
            margin-bottom: 1.5em;
        }

        button {
            width: auto;
            font-size: 9px;
        }

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 16px;
            letter-spacing: 0px;
        }
    }
}